{% extends 'layout.html'%} 

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}} 
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">

    </button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <form action="/reserve" method="POST">
                <div class="form-group">
                    <input type="date" name="date" class = "form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="table available" placeholder="Number of tables available" class = "form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class = "btn btn-success w-100">
                        Save
                    </button>
                </div>
            </form> 
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Date</td>
                    <td>Tables available</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for date in dates %}
                <tr>
                    <td>{{ date.0 }}</td>
                    <td>{{ date.1 }}</td>
                    <td>{{ date.2 }}</td>
                    <td>
                        <a href="/edit/{{ date.1 }}" class = "btn btn-secondary">Edit</a>
                        <a href="/delete/{{ date.1 }}" method="DELETE" class = "btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
